body {
	font-family: "Helvetica", "Arial", sans-serif;
	margin: 30px 30px 30px 30px;
}

div {
	padding: 10px 10px 10px 10px;
}

span {
	margin: 70px 10px 0px 10px;
}

#copied-text1 {
display: none;
color: green;
font-size: 12px;
margin: 0px 0px -30px 0px;
}

#copied-text2 {
display: none;
color: green;
font-size: 12px;
margin: 0px 0px -40px 0px;
}

#text-to-copy1 {
	margin: 30px 15px 0px 15px;
}

#text-to-copy2 {
	margin: 30px 15px 0px 15px;
}

.colorfield1 {
	background: #F9E381;
	color: #381500;
	padding: 20px 20px 20px 20px;
}

.colorfield2 {
	background: #FDB889;
	color: #381500;
	padding: 20px 20px 20px 20px;
}