body {
	font-family: "Helvetica", "Arial", sans-serif;
	margin: 30px 30px 30px 30px;
}

div {
	padding: 10px 10px 10px 10px;
}

span {
	margin: 70px 10px 0px 10px;
}

#copied-text1 {
display: none;
color: green;
font-size: 12px;
margin: 0px 0px -30px 0px;
}

#copied-text2 {
display: none;
color: green;
font-size: 12px;
margin: 0px 0px -40px 0px;
}

#copied-text3 {
display: none;
color: green;
font-size: 12px;
margin: 0px 0px -40px 0px;
}

#copied-text4 {
display: none;
color: green;
font-size: 12px;
margin: 0px 0px -40px 0px;
}

#copied-text5 {
display: none;
color: green;
font-size: 12px;
margin: 0px 0px -40px 0px;
}

#copied-text6 {
display: none;
color: green;
font-size: 12px;
margin: 0px 0px -40px 0px;
}

#copied-text7 {
display: none;
color: green;
font-size: 12px;
margin: 0px 0px -30px 0px;
}

#copied-text8 {
display: none;
color: green;
font-size: 12px;
margin: 0px 0px -40px 0px;
}

#copied-text9 {
display: none;
color: green;
font-size: 12px;
margin: 0px 0px -40px 0px;
}

#copied-text10 {
display: none;
color: green;
font-size: 12px;
margin: 0px 0px -40px 0px;
}

#copied-text11 {
display: none;
color: green;
font-size: 12px;
margin: 0px 0px -40px 0px;
}

#copied-text12 {
display: none;
color: green;
font-size: 12px;
margin: 0px 0px -40px 0px;
}

#copied-text13 {
display: none;
color: green;
font-size: 12px;
margin: 0px 0px -40px 0px;
}

#copied-text14 {
display: none;
color: green;
font-size: 12px;
margin: 0px 0px -40px 0px;
}

#copied-text15 {
display: none;
color: green;
font-size: 12px;
margin: 0px 0px -40px 0px;
}

#copied-text16 {
display: none;
color: green;
font-size: 12px;
margin: 0px 0px -40px 0px;
}

#copied-text17 {
display: none;
color: green;
font-size: 12px;
margin: 0px 0px -40px 0px;
}

#copied-text18 {
display: none;
color: green;
font-size: 12px;
margin: 0px 0px -40px 0px;
}

#text-to-copy1 {
	margin: 30px 15px 0px 15px;
}

#text-to-copy2 {
	margin: 30px 15px 0px 15px;
}

#text-to-copy3 {
	margin: 30px 15px 0px 15px;
}

#text-to-copy4 {
	margin: 30px 15px 0px 15px;
}

#text-to-copy5 {
	margin: 30px 15px 0px 15px;
}

#text-to-copy6 {
	margin: 30px 15px 0px 15px;
}

#text-to-copy7 {
	margin: 30px 15px 0px 15px;
}

#text-to-copy8 {
	margin: 30px 15px 0px 15px;
}

#text-to-copy9 {
	margin: 30px 15px 0px 15px;
}

#text-to-copy10 {
	margin: 30px 15px 0px 15px;
}

#text-to-copy11 {
	margin: 30px 15px 0px 15px;
}

#text-to-copy12 {
	margin: 30px 15px 0px 15px;
}

#text-to-copy13 {
	margin: 30px 15px 0px 15px;
}

#text-to-copy14 {
	margin: 30px 15px 0px 15px;
}

#text-to-copy15 {
	margin: 30px 15px 0px 15px;
}

#text-to-copy16 {
	margin: 30px 15px 0px 15px;
}

#text-to-copy17 {
	margin: 30px 15px 0px 15px;
}

#text-to-copy18 {
	margin: 30px 15px 0px 15px;
}

.colorfield1 {
	background: #fe6385;
	padding: 10px 20px 20px 20px;
	margin: 10px 10px 20px 10px;
}

.colorfield2 {
	background: #680227;
	padding: 10px 20px 20px 20px;
	margin: 10px 10px 20px 10px;
}

.colorfield3 {
	background: #feb887;
	padding: 10px 20px 20px 20px;
	margin: 10px 10px 20px 10px;
}

.colorfield4 {

	background: #058142;
	padding: 10px 20px 20px 20px;
	margin: 10px 10px 20px 10px;
}

.colorfield5 {
	background: #0e4a6c;
	padding: 10px 20px 20px 20px;
	margin: 10px 10px 20px 10px;
}

.colorfield6 {
	background: #07512c;
	padding: 10px 20px 20px 20px;
	margin: 10px 10px 20px 10px;
}

.colorfield7 {
	background: #5cdf6d;
	padding: 10px 20px 20px 20px;
	margin: 10px 10px 20px 10px;
}

.colorfield8 {
	background: #670024;
	padding: 10px 20px 20px 20px;
	margin: 10px 10px 20px 10px;
}

.colorfield9 {
	background: #000000;
	padding: 10px 20px 20px 20px;
	margin: 10px 10px 20px 10px;
}

.colorfield10 {
	background: #f5f5b7;
	padding: 10px 20px 20px 20px;
	margin: 10px 10px 20px 10px;
}

.colorfield11 {
	background: #fdfffe;
	border: 3px solid #e72049;
	padding: 10px 20px 20px 20px;
	margin: 10px 10px 20px 10px;
}

.colorfield12 {
	background: #a10739;
	padding: 10px 20px 20px 20px;
	margin: 10px 10px 20px 10px;
}

.colorfield13 {
	background: #fe6385;
	padding: 10px 20px 20px 20px;
	margin: 10px 10px 20px 10px;
}

.colorfield14 {
	background: #fad4df;
	padding: 10px 20px 20px 20px;
	margin: 10px 10px 20px 10px;
}

.colorfield15 {
	background: #abcbda;
	padding: 10px 20px 20px 20px;
	margin: 10px 10px 20px 10px;
}

.colorfield16 {
	background: #ff8556;
	padding: 10px 20px 20px 20px;
	margin: 10px 10px 20px 10px;
}

.colorfield17 {
	background: #fdb784;
	padding: 10px 20px 20px 20px;
	margin: 10px 10px 20px 10px;
}

.colorfield18 {
	background: #e3e3e1;
	padding: 10px 20px 20px 20px;
	margin: 10px 10px 20px 10px;
}